<!doctype html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-database.js"></script>



    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true">
    <script src="game.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>IKnow</title>
</head>

<body>
    <div ng-app="todoApp" ng-controller="todoController" ng-cloak>
        <div class="m-2">
            <p><b>Name:</b> {{name}} <b>Color:</b> {{color}} <b>Score:</b> {{score.$value}} <b>Room:</b> {{room}}
                <b>Phase:</b> {{phase.$value}}</p>
        </div>

        <button ng-class="readypressed" ng-hide='hidebool.$value' ng-click="ready()">Ready!</button>
        <button class="btn btn-danger m-2" ng-hide='hidebool.$value' ng-click="quit()">QUIT!</button>

        <div ng-hide="!hidebool.$value">
            <div class="m-2">
                <div>
                    <span>Players:</span>
                    <span class="m-1" ng-repeat="(showname, showcolor) in showlist">
                        <strong ng-style="{'color':showcolor}">{{showname}} </strong>
                        <i ng-hide='showactiveplayer.$value!=showname' class="fas fa-user-alt"></i>
                        <i ng-hide='showstoryteller.$value!=showname' class="far fa-id-card"></i>
                    </span>
                </div>
            </div>
            <div class="m-2">
                <form>
                    <p>Answer:</p>
                    <input type="text" autocomplete="off" class="form-control" id="exampleFormControlInput1"
                        placeholder="Answer" ng-model="answer">
                </form>
            </div>

            <button class="btn btn-success m-2" ng-click="submitanswer(answer)" ng-style="{'background':color}"
                ng-disabled="phase.$value != 'answer' ">ANSWER!</button>

            <div class="alert alert-info m-2" role="alert">
                {{tasks}}
            </div>

            <!--just set listeners to gamestate and update colors/button enabling based on that-->


            <div class="row">
                <div class="col-4">
                    <button id='11-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='11' class="btn btn-block m-2" data-ng-click="clickSpec($event)">1</button>
                </div>
                <div class="col-4">
                    <button id='11+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <button id='12-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='12' class="btn btn-block m-2" data-ng-click="clickSpec($event)">1</button>
                </div>
                <div class="col-4">
                    <button id='12+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <button id='21-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='21' class="btn btn-block m-2" data-ng-click="clickSpec($event)">2</button>
                </div>
                <div class="col-4">
                    <button id='21+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <button id='22-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='22' class="btn btn-block m-2" data-ng-click="clickSpec($event)">2</button>
                </div>
                <div class="col-4">
                    <button id='22+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <button id='31-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='31' class="btn btn-block m-2" data-ng-click="clickSpec($event)">3</button>
                </div>
                <div class="col-4">
                    <button id='31+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <button id='32-' class="btn btn-block m-2" data-ng-click="clickBet($event)">-</button>
                </div>
                <div class="col-4">
                    <button id='32' class="btn btn-block m-2" data-ng-click="clickSpec($event)">3</button>
                </div>
                <div class="col-4">
                    <button id='32+' class="btn btn-block m-2" data-ng-click="clickBet($event)">+</button>
                </div>
            </div>

        </div>


    </div>

</body>

</html>