<!doctype html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-database.js"></script>



    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true">
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyBMXeMh7yuvngbbLYl5ujib6T-T_SXOcTs",
            authDomain: "quiz-2414b.firebaseapp.com",
            databaseURL: "https://quiz-2414b.firebaseio.com",
            projectId: "quiz-2414b",
            storageBucket: "quiz-2414b.appspot.com",
            messagingSenderId: "733075302263",
            appId: "1:733075302263:web:78aacaeaf7080ff91be372",
            measurementId: "G-PK932EWZH5"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);



        var app = angular.module('todoApp', ["firebase"]);

        app.controller('todoController', function TodoCtrl($scope, $location, $firebaseArray, $firebaseObject) {

            
            var basecolors = {
                red: 1,
                green: 1,
                blue: 1,
                orange: 1,
                purple: 1,
                gold: 1
            }

            var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;

            $scope.create = function (aroom) {
                if(aroom == "" || aroom == " " || aroom == undefined || format.test(aroom)){
                    alert("Invalid room name");
                    return
                }

                firebase.database().ref().child('rooms').child(aroom).once("value", snapshot => {
                    if (snapshot.exists()) {
                        console.log("exists!");
                        alert("This room exists already, try joining it!");
                    }else{
                        firebase.database().ref().child('rooms').child(aroom).set(firebase.database.ServerValue.TIMESTAMP)
                        .then(()=>{
                            return firebase.database().ref().child(aroom).child('toggle').set(false)
                        })
                        .then(()=>{
                            return  firebase.database().ref().child(aroom).child('colors').set(basecolors)
                        })
                        .then(()=>{
                            return window.location.href = 'register.html?room=' + aroom;
                            //transfer to register
                        })
                    }
                });
            }

            $scope.join = function (aroom) {
                if(aroom == "" || aroom == " " || aroom == undefined || format.test(aroom) ){
                    alert("Invalid room number");
                    return
                }

                firebase.database().ref().child(aroom).once("value", snapshot => {
                    if (snapshot.exists()) {

                        //get color


                        window.location.href = 'register.html?room=' + aroom;
                        //go to register
                    }else{
                        console.log("exists!");
                        alert("This room  does not exists, but you can create it!");
                    }
                });
            }


        });

    </script>
</head>

<body>
    <div ng-app="todoApp" ng-controller="todoController">

        <!-- <p>RoomId:</p> -->
        <input type="text" class="form-control m-3" id="roominput" placeholder="RoomID" ng-model="room">

        <!-- <p>Name:</p>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" ng-model="name"> -->

        <button class="btn btn-success m-2 w-25" ng-click="create(room)"> Create!</button>

        <button class="btn btn-success m-2 w-25"  ng-click="join(room)">Join!</button>

    </div>
</body>

</html>