<!doctype html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-database.js"></script>



    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true">
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyBMXeMh7yuvngbbLYl5ujib6T-T_SXOcTs",
            authDomain: "quiz-2414b.firebaseapp.com",
            databaseURL: "https://quiz-2414b.firebaseio.com",
            projectId: "quiz-2414b",
            storageBucket: "quiz-2414b.appspot.com",
            messagingSenderId: "733075302263",
            appId: "1:733075302263:web:78aacaeaf7080ff91be372",
            measurementId: "G-PK932EWZH5"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var app = angular.module('todoApp', ["firebase"]);

        app.controller('todoController', function TodoCtrl($scope, $location, $firebaseArray, $firebaseObject) {


            $scope.room = new URLSearchParams(window.location.search).get('room');

            var rootref = firebase.database().ref().child($scope.room);

            var colorRef = rootref.child('colors');

            $scope.colordrop = "Select a Color";

            var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;

            $scope.color = ""

            $scope.colorlist={}

            $firebaseObject(colorRef).$bindTo($scope, "colorlist").then(function () {
                console.log($scope.colorlist);
            });

            $scope.go = function (aname, acolor, aroom) {
                console.log(aroom)

                if (aname != undefined && aname != "" && aname != " " && acolor != undefined && acolor != "" && !format.test(aname)) {
                    colorRef.child(acolor).set(null).then(()=>{
                        window.location.href = 'game.html?name=' + aname + '&color=' + acolor + "&room="+ aroom;
                    })

                } else {
                    alert("Enter a valid name and color!");
                }
            }

 
            $scope.setColor = function (acolor) {
                //if scope.color is not null then add it back to colorref
                
                colorRef.child(acolor).set(null).then(()=>{
                    if($scope.color != "" && $scope.color!= undefined){
                        return colorRef.child($scope.color).set(1)
                }
                }).then(()=>{
                $scope.color = acolor
                $scope.colordrop = acolor
                console.log($scope.color)
                console.log($scope.colordrop)
                $scope.$apply()
                })

                //remove acolor from colorref
              
            }


        });

    </script>
        <title>IKnow</title>
</head>

<body>
    <div ng-app="todoApp" ng-controller="todoController">

        <div class="m-2">
            <form ng-submit="addname()">
                <p>Room: {{room}}</p>
                <p>Name:</p>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" ng-model="name">
            </form>
        </div>
        <br>
        <div class="m-2">
            <div class="dropdown">
                <button  class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" ng-model="colordrop" ng-style="{'background':colordrop}" >
                    {{colordrop}}
                </button>
                <div class="dropdown-menu w-100">
                    <button ng-repeat="(key, value) in colorlist" class="dropdown-item" ng-style="{'color':key}" ng-click="setColor(key)">{{key}}</button>
                </div>
            </div>
            <br>
            <button class="btn btn-success m-2 w-100"  ng-click="go(name,color,room)">START!</button>

        </div>

        


        <!--just set listeners to gamestate and update colors/button enabling based on that-->

    </div>


</body>

</html>